template(name='userProfile')
    .row.user-profile
        .col-sm-1.col-xs-2
            img(src=avatar)
        .col-sm-5.col-xs-10
            h1
                =name
            a(href=externalProfile)
                =externalProfileName
        .col-sm-3.col-xs-6
            a(href="/user/{{_id}}/reviews")
                |отзывов
                h1
                    =reviewCount
        .col-sm-3.col-xs-6
            a(href="/user/{{_id}}/comments")
                |комментариев
                h1
                    =commentCount
                
    if isSelf
        +userSettings
        h3 Уведомления
        ul.list-group
        +each notifications
            <!-- li is intentionally in notification to properly work with read field -->
            +notification
