template(name='categoryList')
    small
        ul.list-inline.subcategories
            +each subCategory
                li 
                    if noLinks
                        =name
                    else
                        a.internalLink(href="#cat_{{_id}}") 
                            =name

