template(name='categoryList')
    small
        ul.list-inline.subcategories
            +each subCategory
                li 
                    if ../noLinks
                        span(title="Разверните категорию, чтобы видеть разделы для подкатегорий")
                            =name
                    else
                        a.internalLink(href="#cat_{{_id}}") 
                            =name

