template(name='category')
    li
        form.edit-category
            input(type="text",name="name",value='{{name}}',placeholder="Название категории")
            input(type="text",name="comment",value='{{comment}}',placeholder="Комментарий к категории")
            input(type="submit", value="&gt;&gt;")
        ul
            +each subCategory
                +category
            li
                form.new-category
                        input(type="text",name="name",placeholder="Добавить категорию")
                        input(type="text",name="comment",placeholder="Комментарий к категории")
                        input(type="submit", value="&gt;&gt;")

