template(name='categoryInUniversity')
    li.list-group-item
        .h3
            =category.name
            small
                =category.comment
            unless isLeaf
                a(role="button",title="{{collapseTitle}}").collapse
                    span(class="glyphicon glyphicon-chevron-{{collapseButtonDirection}}")
        ul.list-group
            unless collapsed
                +each subCategory
                    +categoryInUniversity category=this university=../university
            if isLeafOrCollapsed
                +each reviews
                    +review review=this
                if canCreate
                    +addReview
