template(name='categoryInUniversity')
  li
    =category.name
    ul
      +each subCategory
        +categoryInUniversity category=this university=../university
      if isLeaf
        +each comments
          +comment
        form.new-comment
            input(type="text",name="text",placeholder="Введите комментарий")


