template(name='categoryInUniversity')
  li.list-group-item
    .h4
        =category.name
    ul.list-group
      +each subCategory
        +categoryInUniversity category=this university=../university
      if isLeaf
        +each comments
          +comment
        form.new-comment
            textarea.form-control(type="text",name="text",placeholder="Введите комментарий")


