template(name='categoryInUniversity')
    li.list-group-item
        .h3
            =category.name
            small
                =category.comment
                =category.order
            unless isLeaf
                a(role="button",title="{{collapseTitle}}").collapse
                    span(class="glyphicon glyphicon-chevron-{{collapseButtonDirection}}")
        ul.list-group
            //+each reviews
                //+review review=this
            if isLeafOrCollapsed
                if canCreate
                    +addReview
            unless collapsed
                +each subCategory
                    +categoryInUniversity category=this university=../university
