template(name='categoryInUniversity')
    li.list-group-item
        .h3
            =category.name
            small
                =category.comment
                unless isLeaf
                    a(role="button",title="{{collapseTitle}}").collapse
                        span(class="glyphicon glyphicon-chevron-{{collapseButtonDirection}}")
                if hasReviews
                    a(role="button",title="{{showReviewsTitle}}").showReviews
                        span(class="glyphicon glyphicon-eye-{{showReviewsButtonStatus}}")
        ul.list-group
            if showReviews
                +each reviews
                    +review review=this
            if isLeafOrCollapsed
                if canCreate
                    +addReview
            unless collapsed
                +each subCategory
                    +categoryInUniversity category=this university=../university
