template(name='categoryInUniversity')
    li.list-group-item
        .h4
            =category.name
            .small
                =category.comment
        ul.list-group
            +each subCategory
                +categoryInUniversity category=this university=../university
            if isLeaf
                +each reviews
                    +review
                if canCreate
                    +addReview
