template(name='categoryInUniversity')
    li.list-group-item
        <!-- note http://stackoverflow.com/questions/17696119/deep-link-to-a-position-in-a-page-using-meteor-js -->
        a(name="cat_{{category._id}}")
        .h3
            =category.name
            small
                =category.comment
                unless isLeaf
                    a(role="button",title="{{collapseTitle}}").collapse
                        span(class="glyphicon glyphicon-chevron-{{collapseButtonDirection}}")
                if hasReviews
                    a(role="button",title="{{showReviewsTitle}}").showReviews
                        span(class="glyphicon glyphicon-eye-{{showReviewsButtonStatus}}")
            unless isLeaf
                small
                    ul.list-inline.subcategories
                        +each subCategory
                            li 
                                a(href="#cat_{{_id}}") 
                                    =name
        ul.list-group
            if showReviews
                +each reviews
                    li.list-group-item
                        +review review=this category=../category
            if isLeafOrCollapsed
                if canCreate
                    +addReview
            unless collapsed
                +each subCategory
                    +categoryInUniversity category=this university=../university
