template(name='addReview')
    form.new-review(id=this.category._id)
        textarea.form-control(type="text",name="text",rows="1",placeholder="Введите отзыв")
        if focused
            .container-fluid.text-muted.small
                | Поддерживается <a href="https://help.github.com/articles/github-flavored-markdown/">Github flawored markdown</a>; после написания отзыва вы сможете его отредактировать при необходимости. Нажмите Enter для перевода строки, Ctrl-Enter чтобы отправить. Отправляя отзыв, вы соглашаетесь опубликовать его на условиях лицензии <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share-Alike 3.0</a>.



