template(name='footer')
    footer.footer
        .container
            .container-fluid
                p.text-muted
                    Copyright © Петр Калинин, 2015, GNU Affero General Public License.
                    a(href="https://github.com/petr-kalinin/universities") https://github.com/petr-kalinin/universities
                    
    