template(name='footer')
    footer.footer
        .container
            .container-fluid
                p.text-muted
                    Copyright © Петр Калинин, 
                    a(href="https://www.gnu.org/licenses/agpl-3.0.html") GNU Affero General Public License 3.0
                    | |
                    a(href="https://github.com/petr-kalinin/universities") https://github.com/petr-kalinin/universities
                p.text-muted
                    | Отзывы Copyright © авторы отзывов, 
                    a(href="https://creativecommons.org/licenses/by-sa/3.0/") Creative Commons Attribution Share-Alike License 3.0
                
                    
    