@import "client/lib/bootstrap/custom.bootstrap.import.less";
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px !important;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 80px;
  width:100%;
  .container-fluid {
    background-color: #f5f5f5;
    padding-top:20px;
    @media (min-width: @grid-float-breakpoint) {
        border-radius: @navbar-border-radius;
    }
  }
  a {
    color:lighten(@brand-primary,20%);
  }
}

.footer.container {
  width:100%;
}