template(name='user')
    a(href="/user/{{this._id}}")
        img.avatar(src=avatar)
        =name
        if badge
            span.badge(title="Новые уведомления")
                =badge
        if checkEmail
            unless emailWorking
                span.emailBadge(title="{{emailHint}}")
                    span.glyphicon.glyphicon-warning-sign.text-warning
