template(name='userSettings')
    h3 Настройки
    form.set-email
        div.form-group.has-feedback
            div(class="{{inputGroupIfEdited}}")
                input#email.form-control(type="email", placeholder="Адрес email", value="{{emailAddress}}")
                if isEdited
                    span.input-group-btn
                        button.btn.btn-primary Ok
            unless isEdited
                span(class="glyphicon form-control-feedback {{glyphClass}}")
            p.help-block
                | На указанный адрес будут приходить оповещения о комментариях к вашим отзывам и подобных событиях. Чтобы не получать эти отзывы, просто не указывайте адрес email.
                unless isEdited
                    span.email-note
                        span(class="glyphicon {{glyphClass}}")
                        =comment
                        if needVerificationLink
                            a(href="#") Выслать письмо повторно.