template(name='reviewComments')
    h1
        a(href='/university/{{this.university}}')
            =universityName
    h2
        =categoryName
    +review review=this showCategory=false
    ul.list-group
        +each comments
            +comment
        if canCreate
            +addComment

