template(name='reviewComments')
    h1
        a(href='/university/{{this.university}}')
            =universityName
    h2
        =categoryName
    .reviewWithComments
        +review review=this showCategory=false
    ul.list-group
        +each comments
            li.list-group-item
                +comment
        if canCreate
            +addComment

