head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="google-site-verification",content="IZ-1QJDLVII5pFrvUKyUXRqylIiSaHJKx7gH7ezZhHA")
    meta(name='yandex-verification',content='494d8a069432ec90')
    title Университеты