.review p {
    margin: 0px;
    padding: 0px;
    padding-bottom: 1ex;
}
.review p:last-child {
    display:inline;
}
.text {
    display:inline;
}
.user:before {
    padding-left:1em;
    content:"— ";
    white-space:nowrap;
}
.user {
    white-space:nowrap;
}