.review p {
    margin: 0px;
    padding: 0px;
    padding-bottom: 1ex;
}
.review p:last-child, .review p:first-of-type {
    display:inline;
}
.text {
    display:inline;
}
.user:before {
    padding-left:1em;
    padding-right:0.5em;
    content:"— ";
}
.signature {
    white-space:nowrap;
    margin-right:2em;
}
.category {
    font-weight: bold;
}
.category:after {
    content: ":"
}
.icon-group > * {
    padding-left:0.3em;
    padding-right: 0.3em;
}
.icon-group {
    padding-left:0.3em;
}
.num-comments{
    margin-right:-0.2em;
}