template(name='review')
    li.list-group-item
        .review
            .text
                +markdownStub text
            span.signature
                +user getAuthor
                =formattedCreatedDate
                if canRemove
                    button.close.remove(title="Удалить") &times;
