template(name='review')
    li.list-group-item
        .review
            .text
                +markdownStub text
            +user getAuthor
            if canRemove
                button.close.remove(title="Удалить") &times;
