template(name='home')
    h1 Обзор университетов
    p.lead Это сайт для тех, кто решает, в какой университет пойти учиться, а также для тех, кто готов что-то по этому поводу посоветовать.
    p На данный момент он ориентирован на достаточно сильных программистов, в первую очередь олимпиадников.
    h2 Для абитуриентов
        small и учеников старших классов
    p Выбирайте интересующий вас <a href="/university/">университет</a> и читайте отзывы.
    h2 Для студентов
        small и выпускников
    p Войдите в систему с использованием учетной записи вКонтакте и оставьте отзывы о вашем <a href="/university/">университете</a>.
    .spacer
    p.small
        h3 Что такое «университет?»
        p 
        | В терминологии этого сайта, <em>«университет»</em> — это место, где вы можете учиться, достаточно однородное внутри, чтобы не надо было дробить отзывы на части, но и не настолько мелкое, чтобы его нужно было включать в более крупное понятие. Зачастую под «университетом» мы будем понимать на самом деле <em>факультет</em> (поскольку довольно странно писать общий отзыв про разные факультеты, а в пределах факультетов разница обычно не столь велика), но в особых случаях это может быть как отдельная кафедра, если она сильно отличается от «соседей» (КТ ИТМО?), так и целый университет, если в нем нет факультетов или если факультеты отличаются слабо (АУ?). Если вы придумаете более подходящий термин, скажите мне. 
        p
        | Но со временем, наверное, надо будет ввести намного более естественную иерархическую структуру, чтобы можно было оставлять как отзывы про университет, так и про факультет, кафедры и т.д.
  