template( name='allReviews' )
    h1 Последние отзывы
    ul.list-group
        +each this
            li.list-group-item
                +review review=this showAll=true
    p
        +nextPageButton
