template(name='notification')
    <!-- li is intentionally here to properly work with read field -->
    a.notification(href="{{link}}")
        li.list-group-item(class=notificationClass)
            if isComment
                +comment comment
